Utilize o arquivo .htaccess para forçar a utilização de https (protocolo de segurança para páginas web). Não force o uso de HTTPS se seu site não possuir 
certificado SSL.

Use the .htaccess file to force the use of https (security protocol for web pages). Do not force the use of HTTPS if your website does not have an SSL certificate.

# FORÇA O USO DE SSL NO .HTACCESS #
# FORCE THE USE OF SSL IN .HTACCESS #
RewriteEngine On
RewriteCond %{SERVER_PORT} 443
RewriteRule ^(.*)$ https://exemplo.com/$1 [R,L]
